@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  font-family: 'Lato', sans-serif;
}

.footer-page{
  background:rgb(76,76,76);
  font-family: 'Lato', sans-serif;

  height: 30%;
  
}
.navbar-mobileBg {
	background: url('./assets/headerMobile.png') no-repeat center center/cover;
}

@media only screen and (max-width:651px) {
.headerNavMobile{
background:  url('./assets/headerMobile.png')no-repeat center center/cover; 
height: 60vh;
}
}
@media only screen and (min-width:650px) {
.header-nav{
background:  url('./assets/headerImage.png')no-repeat center center/cover; 
height: 60vh;
}}
