@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  font-family: 'Lato', sans-serif;
}
.header-nav{
  background-image:  url('./assets/headerImage.png') ;
  
background-size: cover;
  height: 50vh;
 
}

.footer-page{
  background:rgb(76,76,76);
  font-family: 'Lato', sans-serif;

  height: 30%;
  
}
.navbar-mobileBg {
	background: url('./assets/headerMobile.png') no-repeat center center/cover;
}
